  <table>
    <tr>
      <td>Name</td>
      <td><%= text_field :trim, :name, size: 40 %></td>
    </tr>
    <tr>
      <td>Language</td>
      <td><%= select( :trim, :language, Language.all.collect {|p| [ p.language, p.language ] }) %> </td>
    </tr>
    <tr>
      <td>Value</td>
      <td><%= text_field :trim, :value, size: 40 %></td>
    </tr>
    <tr>
      <td>Notes</td>
      <td><%= text_area :trim, :notes, cols: 40, rows: 15 %></td>
    </tr>
  <table>
