
  <div class="field">
    Head of Family 
    Assigned in Editing
  </div>
  <div class="field">
    Family Name <br>
    <%= text_field 'family', 'name' %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
