<% unless flash[:error].nil? %>
  <div class="error"> <%=flash[:error] %> </div>
<% end %>
<% unless flash[:alert].nil? %>
  <div class="alert"> <%= flash[:alert] %></div>
<% end %>
<% unless flash[:notice].nil? %>
  <div class="notice"> <%= flash[:notice] %> </div>
<% end %>
<% unless flash[:success].nil? %>
  <div class="success"> <%= flash[:success] %> </div>
<% end %>
