
  <div class="field">
    Head of Family 
    <%= @family.head_of_household %>
  </div>
  <div class="field">
    Family Name <br>
    <%= @family.name %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
